@charset "UTF-8";
/*
 * 存放公共变量，如颜色值，字体大小
 * eg: $navColor
 */
/*数据项 列表 start*/
.data-page {
  background: #fafafa; }
  .data-page .data-content {
    width: 1180px;
    margin: 0 auto;
    padding: 60px 0 110px 0; }
    .data-page .data-content .data-title h3 {
      float: left;
      font-size: 24px;
      font-family: "Microsoft YaHei";
      color: #5b5266;
      line-height: 24px; }
  .data-page .data-list {
    margin-top: 34px; }
    .data-page .data-list .ops-scene-seclet {
      float: left; }
    .data-page .data-list .sort-selct-content .SumoSelect {
      width: 164px;
      margin-top: 13px;
      margin-right: 32px; }
      .data-page .data-list .sort-selct-content .SumoSelect.open .optWrapper {
        top: 40px; }
      .data-page .data-list .sort-selct-content .SumoSelect > .CaptionCont {
        border: none;
        border-right: 1px solid #dcdadf; }
      .data-page .data-list .sort-selct-content .SumoSelect .SlectBox {
        padding: 0 0 0 17px;
        height: 23px;
        line-height: 23px; }
    .data-page .data-list .SelectBox {
      padding: 0 0 0 14px;
      height: 23px;
      line-height: 23px; }
  .data-page .bk-tab2 {
    border: none; }
    .data-page .bk-tab2 .bk-tab2-head {
      border: 1px solid #ebebeb;
      margin-bottom: -1px;
      background: #fff;
      -moz-border-radius: 3px 3px 0 0;
      -webkit-border-radius: 3px 3px 0 0;
      -o-border-radius: 3px 3px 0 0;
      border-radius: 3px 3px 0 0; }
      .data-page .bk-tab2 .bk-tab2-head .bk-tab2-nav > li {
        height: 49px;
        min-width: 56px;
        text-align: center;
        line-height: 49px;
        color: #5b5266;
        padding: 0 6px;
        margin: 0 32px 0  0; }
        .data-page .bk-tab2 .bk-tab2-head .bk-tab2-nav > li.active {
          font-weight: normal;
          color: #57a3f1; }
        .data-page .bk-tab2 .bk-tab2-head .bk-tab2-nav > li:nth-child(1) {
          margin-left: 14px; }
  .data-page .bk-tab2-content ul {
    padding: 0 30px 0 30px;
    background: #fff;
    border: 1px solid #ebebeb;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px; }
    .data-page .bk-tab2-content ul li {
      padding: 26px 0 24px 0;
      font-size: 0;
      border-bottom: 1px solid #f4f4f4; }
      .data-page .bk-tab2-content ul li .img-content {
        display: inline-block; }
      .data-page .bk-tab2-content ul li .data-title-content {
        width: 817px;
        display: inline-block;
        vertical-align: top;
        margin-left: 18px;
        padding-top: 6px; }
        .data-page .bk-tab2-content ul li .data-title-content > h3 > a {
          font-size: 16px;
          color: #444444;
          font-weight: bold; }
        .data-page .bk-tab2-content ul li .data-title-content > p {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0;
          color: #8b8b8b;
          width: 645px;
          margin-bottom: 8px;
          margin-top: 10px; }
      .data-page .bk-tab2-content ul li .time-content > span {
        font-size: 12px;
        color: #8b8b8b; }
        .data-page .bk-tab2-content ul li .time-content > span:nth-child(1) {
          padding-right: 20px; }
        .data-page .bk-tab2-content ul li .time-content > span:nth-child(2) {
          padding-right: 16px; }
      .data-page .bk-tab2-content ul li .time-content > a {
        font-size: 12px;
        color: #57a3f1; }
        .data-page .bk-tab2-content ul li .time-content > a:hover {
          color: #4491e1; }
      .data-page .bk-tab2-content ul li .down-data-content {
        margin-top: 4px;
        height: 87px;
        width: 150px;
        border-left: 1px solid #ececec;
        float: right;
        text-align: right; }
        .data-page .bk-tab2-content ul li .down-data-content span {
          font-size: 14px;
          line-height: 14px;
          display: block; }
          .data-page .bk-tab2-content ul li .down-data-content span:nth-child(1) {
            margin-top: 25px;
            color: #2a2331; }
          .data-page .bk-tab2-content ul li .down-data-content span:nth-child(2) {
            color: #8b8b8b;
            margin-top: 14px; }
  .data-page .bk-tab2-content .loading-btn {
    text-align: center; }
    .data-page .bk-tab2-content .loading-btn a {
      width: 260px;
      height: 42px;
      line-height: 42px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      display: inline-block;
      background: #fff;
      color: #666666;
      border: 1px solid #ebebeb;
      margin-top: 32px;
      cursor: pointer; }
    .data-page .bk-tab2-content .loading-btn .load-img {
      padding-right: 20px;
      display: none; }

/*数据项列表 end*/
/*预览 start*/
.preview-content {
  padding: 60px 0 110px 0; }

.preview-wrapper {
  width: 1180px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ebebeb;
  /*.right-content-describe{
		min-height:593px;
	}
	.right-content-height-control{
		min-height: 593px;
	}*/ }
  .preview-wrapper .preview-left-content {
    float: left;
    width: 212px;
    height: inherit;
    min-height: 539px;
    /*border-right:1px solid #ebebeb;*/ }
    .preview-wrapper .preview-left-content ul {
      width: 212px;
      padding: 17px 0;
      height: 100%; }
      .preview-wrapper .preview-left-content ul li {
        height: 42px;
        line-height: 42px;
        padding-left: 30px;
        cursor: pointer;
        color: #666666;
        border-left: 4px solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        margin-bottom: 6px;
        margin-left: -5px; }
        .preview-wrapper .preview-left-content ul li:hover {
          background: #f0f0f0;
          color: #2e2736;
          border-left: 4px solid #624f75;
          border-top: 1px solid #ebebeb;
          border-bottom: 1px solid #ebebeb; }
        .preview-wrapper .preview-left-content ul li.active {
          background: #f0f0f0;
          color: #2e2736;
          border-left: 4px solid #624f75;
          border-top: 1px solid #ebebeb;
          border-bottom: 1px solid #ebebeb; }
  .preview-wrapper .tab-warpper {
    width: 965px;
    border-left: 1px solid #ebebeb;
    float: left; }
  .preview-wrapper .right-content {
    min-height: 539px;
    padding: 32px 25px 55px 30px;
    box-sizing: border-box; }
    .preview-wrapper .right-content .danger-text {
      color: #ff1515; }
    .preview-wrapper .right-content.show {
      display: block; }
    .preview-wrapper .right-content p {
      color: #8b8b8b;
      line-height: 18px;
      font-size: 14px; }
    .preview-wrapper .right-content .control-p {
      color: #333;
      margin-bottom: 20px; }
    .preview-wrapper .right-content .code p {
      margin-bottom: 15px; }
    .preview-wrapper .right-content h5 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: bold;
      color: #2e2736; }
    .preview-wrapper .right-content .describe-list {
      padding-bottom: 20px; }
    .preview-wrapper .right-content .fucion-img {
      text-align: center; }
    .preview-wrapper .right-content .line-height-control span {
      display: block;
      color: #8b8b8b; }
  .preview-wrapper .bonus p {
    line-height: 1;
    margin-bottom: 23px; }
    .preview-wrapper .bonus p:nth-child(3) {
      margin-bottom: 40px; }
  .preview-wrapper .time-line ul li {
    position: relative;
    margin-bottom: 14px;
    padding-left: 11px; }
    .preview-wrapper .time-line ul li:before {
      content: '';
      width: 5px;
      height: 6px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      left: -4px;
      background: #000;
      line-height: 1;
      top: 7px; }
    .preview-wrapper .time-line ul li span {
      color: #8b8b8b; }
      .preview-wrapper .time-line ul li span em {
        font-style: normal;
        color: #2e2736; }

/*预览 end*/
/*规则 start*/
.rule-content {
  padding: 60px 0 110px 0; }

.rule-wrapper h3 {
  font-size: 24px;
  color: #5b5266; }

.rule-wrapper .rule-detail {
  border: 1px solid #ebebeb;
  min-height: 469px;
  margin-top: 44px;
  background: #fff;
  padding: 34px 38px 16px 31px; }
  .rule-wrapper .rule-detail p {
    line-height: 1;
    margin-bottom: 29px;
    letter-spacing: 0.5px; }

/*规则 end*/
/*排行榜 start*/
.ranking-list-content {
  padding: 60px 0 110px 0; }
  .ranking-list-content .bk-table {
    border: 1px solid #e6e6e6; }
    .ranking-list-content .bk-table thead > tr th {
      color: #2e2736;
      padding: 10px 20px;
      font-weight: bold; }
    .ranking-list-content .bk-table thead > tr td {
      color: #2e2736;
      font-weight: bold;
      padding: 10px 20px; }
    .ranking-list-content .bk-table tfoot > tr th {
      padding: 10px 20px;
      background: #fafafa;
      cursor: pointer;
      color: #57a3f1; }
      .ranking-list-content .bk-table tfoot > tr th:hover {
        color: #4491e1 !important; }
    .ranking-list-content .bk-table tfoot > tr td {
      padding: 10px 20px;
      background: #fafafa;
      cursor: pointer;
      color: #57a3f1; }
      .ranking-list-content .bk-table tfoot > tr td:hover {
        color: #4491e1 !important; }
      .ranking-list-content .bk-table tfoot > tr td i {
        color: #57a3f1;
        font-size: 12px;
        vertical-align: middle;
        padding-right: 10px; }
        .ranking-list-content .bk-table tfoot > tr td i:hover {
          color: #4491e1 !important; }
      .ranking-list-content .bk-table tfoot > tr td span {
        vertical-align: middle; }
    .ranking-list-content .bk-table tbody > tr th {
      color: #8b8b8b;
      padding: 6px 20px;
      line-height: 40px;
      background: #fff; }
    .ranking-list-content .bk-table tbody > tr td {
      color: #8b8b8b;
      padding: 6px 20px;
      line-height: 40px;
      background: #fff; }
    .ranking-list-content .bk-table tbody > tr .poster-content {
      position: relative;
      display: inline-block;
      cursor: pointer; }
      .ranking-list-content .bk-table tbody > tr .poster-content:hover .name-show {
        display: block; }
      .ranking-list-content .bk-table tbody > tr .poster-content .name-show {
        display: none;
        width: 64px;
        padding: 0 8px;
        height: 34px;
        line-height: 32px;
        background: #332c3b;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        position: absolute;
        top: 45px;
        left: 0px;
        z-index: 1000; }
        .ranking-list-content .bk-table tbody > tr .poster-content .name-show:before {
          content: '';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #332c3b;
          position: absolute;
          top: -5px;
          left: 15px; }
      .ranking-list-content .bk-table tbody > tr .poster-content img {
        width: 42px;
        height: 42px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin-right: 6px; }
        .ranking-list-content .bk-table tbody > tr .poster-content img:last-child {
          margin-right: 0; }

/*重置弹窗样式*/
.bk-dialog-footer {
  text-align: center; }

.bk-dialog-btn-cancel {
  display: none; }

/*排行榜 end*/
/*数据预览及评论 start*/
.datasrt-preview-banner {
  width: 100%;
  margin-top: 60px;
  height: 273px;
  background: #302739; }
  .datasrt-preview-banner .min-width-center {
    padding-top: 65px; }
  .datasrt-preview-banner .title-content h3 {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    line-height: 24px;
    color: #fafafa;
    margin-bottom: 16px; }
  .datasrt-preview-banner .title-content p {
    color: #cdcdcd;
    font-size: 14px;
    /*width:452px;*/
    line-height: 21px; }
  .datasrt-preview-banner .vavatar-content {
    margin-top: 54px; }
    .datasrt-preview-banner .vavatar-content span {
      color: #fafafa;
      font-size: 14px;
      display: inline-block;
      margin-right: 32px; }
      .datasrt-preview-banner .vavatar-content span:nth-child(3) {
        margin-right: 0; }
      .datasrt-preview-banner .vavatar-content span em {
        font-style: normal;
        font-size: 24px;
        color: #fafafa; }
    .datasrt-preview-banner .vavatar-content img {
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px; }

.datasrt-preview-page {
  min-height: calc(100% - 497px); }
  .datasrt-preview-page .tab-box {
    background: #fafafa; }
  .datasrt-preview-page .nav-tabs {
    width: 1180px;
    margin: 0 auto;
    border: none; }
    .datasrt-preview-page .nav-tabs .collect-content {
      min-width: 104px;
      font-size: 0;
      float: right;
      line-height: 1px;
      margin-top: 8px;
      margin-left: 10px; }
      .datasrt-preview-page .nav-tabs .collect-content .collect-btn {
        min-width: 104px;
        font-size: 14px;
        color: #624f75;
        height: 40px;
        line-height: 40px;
        background: #fff;
        border: 1px solid #eaeaea;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
        .datasrt-preview-page .nav-tabs .collect-content .collect-btn.click-collect-btn {
          background: #f0f0f0; }
        .datasrt-preview-page .nav-tabs .collect-content .collect-btn > i {
          padding-right: 10px;
          color: #4d4e4e; }
        .datasrt-preview-page .nav-tabs .collect-content .collect-btn:hover {
          background: #f5f5f5;
          color: #666666; }
          .datasrt-preview-page .nav-tabs .collect-content .collect-btn:hover i {
            color: #4c4d4d; }
      .datasrt-preview-page .nav-tabs .collect-content .cancel-collect-btn {
        display: inline-block;
        min-width: 120px;
        font-size: 14px;
        color: #666666;
        height: 40px;
        line-height: 40px;
        background: #ffffff;
        border: 1px solid #eaeaea;
        text-align: center;
        cursor: pointer;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
        .datasrt-preview-page .nav-tabs .collect-content .cancel-collect-btn.click-cancel-collect-btn {
          background: #f0f0f0; }
        .datasrt-preview-page .nav-tabs .collect-content .cancel-collect-btn:hover {
          background: #f5f5f5; }
          .datasrt-preview-page .nav-tabs .collect-content .cancel-collect-btn:hover i {
            color: #ff9626; }
        .datasrt-preview-page .nav-tabs .collect-content .cancel-collect-btn i {
          color: #ff9626;
          padding-right: 10px; }
      .datasrt-preview-page .nav-tabs .collect-content .download-btn {
        font-size: 14px;
        color: #fff;
        min-width: 140px;
        height: 40px;
        padding: 0 10px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        border: 1px solid #624f75;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
    .datasrt-preview-page .nav-tabs li {
      min-width: 130px; }
      .datasrt-preview-page .nav-tabs li a {
        padding: 0 10px;
        text-align: center;
        color: #666666;
        font-size: 14px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        height: 58px;
        line-height: 58px;
        margin-right: 0; }
      .datasrt-preview-page .nav-tabs li.active > a {
        background: #fafafa; }
        .datasrt-preview-page .nav-tabs li.active > a:focus {
          color: #2e2736;
          background: #fafafa; }
        .datasrt-preview-page .nav-tabs li.active > a:hover {
          color: #2e2736;
          background: #fafafa; }
  .datasrt-preview-page .tab-item-content {
    border: 1px solid #dddddd;
    background: #f5f5f5;
    width: 100%;
    border-top: 0; }
  .datasrt-preview-page .tab-content {
    width: 1180px;
    margin: 0 auto;
    min-height: 300px; }
    .datasrt-preview-page .tab-content .title-control h3 {
      margin: 60px 0px 43px 0px;
      font-size: 24px;
      line-height: 1;
      font-family: "Microsoft YaHei";
      color: #5b5266; }
    .datasrt-preview-page .tab-content .title-control .refresh-btn {
      font-size: 14px;
      color: #fff;
      min-width: 140px;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      border: 1px solid #624f75;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: 10px; }
    .datasrt-preview-page .tab-content .tab-pane .describe-text-content {
      width: 100%;
      padding: 31px 37px 37px 31px;
      background: #fff;
      border: 1px solid #ebebeb; }
      .datasrt-preview-page .tab-content .tab-pane .describe-text-content p {
        margin-bottom: 16px;
        line-height: 19px; }
    .datasrt-preview-page .tab-content .tab-pane .version-update {
      padding-bottom: 109px; }
      .datasrt-preview-page .tab-content .tab-pane .version-update .bk-table {
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb; }
      .datasrt-preview-page .tab-content .tab-pane .version-update .br-bm-control {
        border-bottom: 1px solid #ebebeb !important; }
      .datasrt-preview-page .tab-content .tab-pane .version-update table {
        background: #fff;
        text-align: center; }
        .datasrt-preview-page .tab-content .tab-pane .version-update table tr td.but {
          font-size: 0; }
          .datasrt-preview-page .tab-content .tab-pane .version-update table tr td.but a {
            font-size: 12px;
            color: #57a3f1;
            vertical-align: middle;
            cursor: pointer; }
            .datasrt-preview-page .tab-content .tab-pane .version-update table tr td.but a:hover {
              color: #4491e1; }
              .datasrt-preview-page .tab-content .tab-pane .version-update table tr td.but a:hover i {
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg); }
            .datasrt-preview-page .tab-content .tab-pane .version-update table tr td.but a:nth-child(1) {
              margin-right: 40px; }
            .datasrt-preview-page .tab-content .tab-pane .version-update table tr td.but a:nth-child(2) span {
              padding-right: 5px; }
            .datasrt-preview-page .tab-content .tab-pane .version-update table tr td.but a:nth-child(2) i {
              -webkit-transition: all .35s;
              -moz-transition: all .35s;
              -ms-transition: all .35s;
              transition: all .35s;
              display: inline-block; }
        .datasrt-preview-page .tab-content .tab-pane .version-update table tr td {
          color: #8b8b8b; }
        .datasrt-preview-page .tab-content .tab-pane .version-update table tr .br-top-control {
          border-top: 1px solid #ebebeb !important; }
        .datasrt-preview-page .tab-content .tab-pane .version-update table tr.log-upgrade-contrent .log-table-text {
          text-align: left;
          padding: 26px 0 35px 20px; }
          .datasrt-preview-page .tab-content .tab-pane .version-update table tr.log-upgrade-contrent .log-table-text h4 {
            font-size: 14px;
            color: #666666;
            font-weight: bold;
            line-height: 14px;
            margin-bottom: 19px; }
        .datasrt-preview-page .tab-content .tab-pane .version-update table tr.log-upgrade-contrent ol {
          margin-left: -2px; }
          .datasrt-preview-page .tab-content .tab-pane .version-update table tr.log-upgrade-contrent ol li {
            color: #8b8b8b;
            line-height: 1;
            margin-bottom: 9px;
            font-size: 12px; }
        .datasrt-preview-page .tab-content .tab-pane .version-update table thead tr th {
          text-align: center;
          background: #fff;
          color: #666; }
    .datasrt-preview-page .tab-content .tab-pane .data-file {
      padding: 0 0 110px 0; }
      .datasrt-preview-page .tab-content .tab-pane .data-file .bk-table.has-table-bordered {
        background: #fff;
        border: 1px solid #ebebeb; }
        .datasrt-preview-page .tab-content .tab-pane .data-file .bk-table.has-table-bordered thead tr th {
          border: none;
          color: #666;
          background: #fff; }
          .datasrt-preview-page .tab-content .tab-pane .data-file .bk-table.has-table-bordered thead tr th:last-child {
            font-size: 12px;
            font-weight: normal;
            text-align: right; }
        .datasrt-preview-page .tab-content .tab-pane .data-file .bk-table.has-table-bordered tbody tr td {
          border: none;
          border-top: 1px solid #ebebeb;
          color: #8b8b8b; }
          .datasrt-preview-page .tab-content .tab-pane .data-file .bk-table.has-table-bordered tbody tr td:last-child {
            text-align: right; }
          .datasrt-preview-page .tab-content .tab-pane .data-file .bk-table.has-table-bordered tbody tr td a {
            color: #57a3f1;
            display: inline-block; }
          .datasrt-preview-page .tab-content .tab-pane .data-file .bk-table.has-table-bordered tbody tr td img {
            vertical-align: middle;
            display: inline-block;
            margin-right: 19px; }
        .datasrt-preview-page .tab-content .tab-pane .data-file .bk-table.has-table-bordered tfoot tr th td {
          border: none; }
    .datasrt-preview-page .tab-content .tab-pane .free-statement-content {
      padding: 0 0 110px 0; }
      .datasrt-preview-page .tab-content .tab-pane .free-statement-content .free-statement-warrper {
        border: 1px solid #ebebeb;
        height: 246px;
        background: #fff; }
      .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-left-content {
        float: left;
        width: 128px;
        color: #f5f5f5;
        border-right: 1px solid #ebebeb;
        height: 100%;
        text-align: center; }
        .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-left-content .link-icon {
          display: inline-block;
          margin-top: 27px; }
        .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-left-content .link-icon-text {
          display: block;
          margin-top: 15px;
          font-size: 12px;
          color: #8b8b8b; }
      .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-right-content {
        width: 1050px;
        float: left;
        padding: 44px 30px 33px 29px; }
        .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-right-content .link-text {
          border-bottom: 1px solid #ebebeb;
          padding-bottom: 40px;
          font-size: 18px;
          line-height: 1; }
        .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-right-content .free-text-detail {
          padding-top: 10px; }
        .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-right-content .source-title {
          font-size: 12px;
          color: #8b8b8b; }
        .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-right-content .search-all-content {
          font-size: 12px;
          text-decoration: underline; }
        .datasrt-preview-page .tab-content .tab-pane .free-statement-content .link-right-content .source-text {
          font-size: 12px;
          color: #000;
          line-height: 18px;
          margin: 15px 0 10px 0; }
    .datasrt-preview-page .tab-content .tab-pane .comment-content {
      padding: 60px 0 0 0;
      border-bottom: 1px solid #dddddd; }
    .datasrt-preview-page .tab-content .tab-pane .comment-edit {
      border-bottom: 1px solid #dddddd;
      font-size: 0; }
      .datasrt-preview-page .tab-content .tab-pane .comment-edit textarea {
        width: 100%;
        height: 120px;
        background: #fff;
        border: 1px solid #ebebeb;
        overflow: hidden;
        resize: none;
        outline: none;
        padding: 18px;
        font-size: 12px;
        color: #828282;
        font-family: "Microsoft YaHei"; }
        .datasrt-preview-page .tab-content .tab-pane .comment-edit textarea::-webkit-input-placeholder {
          font-family: "Microsoft YaHei";
          color: #aaaaaa; }
        .datasrt-preview-page .tab-content .tab-pane .comment-edit textarea:-moz-placeholder {
          font-family: "Microsoft YaHei";
          color: #aaaaaa; }
        .datasrt-preview-page .tab-content .tab-pane .comment-edit textarea::-moz-placeholder {
          font-family: "Microsoft YaHei";
          color: #aaaaaa; }
        .datasrt-preview-page .tab-content .tab-pane .comment-edit textarea:-ms-input-placeholder {
          font-family: "Microsoft YaHei";
          color: #aaaaaa; }
      .datasrt-preview-page .tab-content .tab-pane .comment-edit .character-control-content {
        padding: 15px 0 20px 0;
        text-align: right; }
        .datasrt-preview-page .tab-content .tab-pane .comment-edit .character-control-content > span {
          font-size: 14px;
          display: inline-block;
          padding-right: 15px; }
          .datasrt-preview-page .tab-content .tab-pane .comment-edit .character-control-content > span > em {
            padding: 0 5px;
            font-weight: bold;
            font-style: normal; }
        .datasrt-preview-page .tab-content .tab-pane .comment-edit .character-control-content .comment-btn-hv:hover {
          background: #4491e1; }
        .datasrt-preview-page .tab-content .tab-pane .comment-edit .character-control-content .comment-btn {
          padding: 0 14px;
          color: #fff;
          background: #57a3f1;
          height: 30px;
          line-height: 30px;
          display: inline-block;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          -o-border-radius: 2px;
          border-radius: 2px;
          min-width: 90px;
          font-size: 14px;
          cursor: pointer;
          text-align: center; }
          .datasrt-preview-page .tab-content .tab-pane .comment-edit .character-control-content .comment-btn img {
            animation: rotate 2s linear infinite;
            margin-right: 4px;
            display: none; }
    .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success {
      display: none;
      border-bottom: 1px solid #dddddd;
      font-size: 0; }
      .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success h3 {
        font-family: "Microsoft YaHei";
        font-size: 24px;
        color: #5b5266; }
      .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common {
        min-height: 114px;
        width: 100%;
        padding: 20px 45px  20px 44px;
        background: #fff;
        border: 1px solid #ebebeb;
        margin-top: 40px; }
        .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .avatar-content {
          width: 60px;
          height: 60px;
          display: inline-block; }
          .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .avatar-content img {
            width: 100%;
            height: 100%;
            margin-right: 11px; }
        .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .text-content {
          display: inline-block;
          vertical-align: top; }
          .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .text-content .just-now {
            color: #adadb2;
            font-size: 12px;
            float: right; }
          .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .text-content a {
            font-size: 14px;
            line-height: 1; }
            .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .text-content a em {
              font-style: normal;
              color: #bfbfbf; }
          .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .text-content a.my-name {
            padding-bottom: 13px;
            display: inline-block; }
          .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .text-content p {
            font-size: 14px;
            width: 1016px;
            line-height: 20px; }
        .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .reply-content {
          margin-top: 15px; }
          .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .reply-content a:nth-child(1) {
            display: inline-block;
            margin-right: 20px; }
          .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .comments-common .reply-content a em {
            padding-left: 5px; }
      .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .del-comment-btn {
        display: inline-block;
        padding: 0 10px;
        color: #fff;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        min-width: 90px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        margin: 20px 0; }
      .datasrt-preview-page .tab-content .tab-pane .comment-ssubmit-success .del-btn-content {
        text-align: right; }
    .datasrt-preview-page .tab-content .tab-pane .comment-detail-content {
      margin: 60px 0 110px  0; }
      .datasrt-preview-page .tab-content .tab-pane .comment-detail-content .title-content {
        height: 32px; }
        .datasrt-preview-page .tab-content .tab-pane .comment-detail-content .title-content h3 {
          font-size: 24px;
          color: #5b5266;
          line-height: 24px;
          font-family: "Microsoft YaHei";
          float: left; }
      .datasrt-preview-page .tab-content .tab-pane .comment-detail-content .detail-content {
        background: #FFF;
        margin-top: 30px; }
      .datasrt-preview-page .tab-content .tab-pane .comment-detail-content .bk-tab2 .bk-tab2-head .bk-tab2-nav > li {
        height: 46px;
        min-width: 56px;
        text-align: center;
        line-height: 46px;
        color: #5b5266;
        padding: 0 6px;
        margin: 0 32px 0  0; }
        .datasrt-preview-page .tab-content .tab-pane .comment-detail-content .bk-tab2 .bk-tab2-head .bk-tab2-nav > li.active {
          font-weight: normal;
          color: #57a3f1; }
        .datasrt-preview-page .tab-content .tab-pane .comment-detail-content .bk-tab2 .bk-tab2-head .bk-tab2-nav > li:nth-child(1) {
          margin-left: 33px; }
  .datasrt-preview-page .all-comments-content .bk-tab2-pane > ul {
    padding: 0 45px 35px 45px; }
    .datasrt-preview-page .all-comments-content .bk-tab2-pane > ul > li {
      border-bottom: 1px solid #f4f4f4;
      padding-top: 30px;
      line-height: 1; }
      .datasrt-preview-page .all-comments-content .bk-tab2-pane > ul > li:last-child {
        border: none; }
  .datasrt-preview-page .all-comments-content .comments-cover {
    min-height: 114px;
    width: 100%;
    background: #fff;
    border: 1px solid #ebebeb;
    border: none;
    margin-top: 0;
    font-size: 0; }
    .datasrt-preview-page .all-comments-content .comments-cover .avatar-content {
      display: inline-block;
      margin-right: 13px;
      width: 60px;
      height: 60px; }
      .datasrt-preview-page .all-comments-content .comments-cover .avatar-content > img {
        width: 100%;
        height: 100%; }
    .datasrt-preview-page .all-comments-content .comments-cover .text-content-detail {
      display: inline-block;
      vertical-align: top;
      width: 1014px; }
      .datasrt-preview-page .all-comments-content .comments-cover .text-content-detail .just-now {
        color: #adadb2;
        font-size: 12px;
        float: right; }
      .datasrt-preview-page .all-comments-content .comments-cover .text-content-detail a.author-btn {
        width: 49px;
        height: 18px;
        line-height: 18px;
        display: block;
        padding: 0 5px;
        text-align: center;
        background: #bba7e5;
        color: #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        margin: 6px 0 10px 0;
        cursor: pointer;
        font-size: 12px; }
      .datasrt-preview-page .all-comments-content .comments-cover .text-content-detail a {
        font-size: 14px;
        line-height: 1; }
        .datasrt-preview-page .all-comments-content .comments-cover .text-content-detail a em {
          font-style: normal;
          color: #bfbfbf; }
      .datasrt-preview-page .all-comments-content .comments-cover .text-content-detail a.my-name {
        padding-bottom: 13px;
        display: inline-block; }
      .datasrt-preview-page .all-comments-content .comments-cover .text-content-detail p {
        font-size: 14px;
        width: 1016px;
        line-height: 20px; }
    .datasrt-preview-page .all-comments-content .comments-cover .reply-content {
      margin-top: 15px; }
      .datasrt-preview-page .all-comments-content .comments-cover .reply-content a:nth-child(1) {
        display: inline-block;
        margin-right: 20px; }
      .datasrt-preview-page .all-comments-content .comments-cover .reply-content a em {
        padding-left: 5px; }
    .datasrt-preview-page .all-comments-content .comments-cover .text-wrapper {
      padding-bottom: 16px;
      /*border-bottom: 1px solid #f4f4f4;*/ }
      .datasrt-preview-page .all-comments-content .comments-cover .text-wrapper > p {
        line-height: 22px;
        width: 1015px; }
      .datasrt-preview-page .all-comments-content .comments-cover .text-wrapper > a.my-name {
        padding-bottom: 8px; }
    .datasrt-preview-page .all-comments-content .comments-cover .reply-deatil-wrapper > li {
      padding: 20px 0 15px 0;
      font-size: 0;
      border-bottom: 1px solid #f4f4f4; }
    .datasrt-preview-page .all-comments-content .comments-cover .reply-avatar-content {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px; }
    .datasrt-preview-page .all-comments-content .comments-cover .reply-deatil {
      width: 960px;
      display: inline-block;
      vertical-align: top; }
      .datasrt-preview-page .all-comments-content .comments-cover .reply-deatil > p {
        width: 100%; }
      .datasrt-preview-page .all-comments-content .comments-cover .reply-deatil > a.my-name {
        padding-bottom: 7px; }
      .datasrt-preview-page .all-comments-content .comments-cover .reply-deatil .correlate-other {
        display: inline-block;
        font-size: 12px;
        color: #b9b9bd;
        padding-top: 7px; }
    .datasrt-preview-page .all-comments-content .comments-cover .edit-reply {
      padding: 20px 0 0 0;
      display: none;
      border-top: 1px solid #ebebeb; }
      .datasrt-preview-page .all-comments-content .comments-cover .edit-reply .edit-reply-avatar {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px; }
      .datasrt-preview-page .all-comments-content .comments-cover .edit-reply textarea.reply-text {
        padding: 10px;
        font-size: 12px;
        width: 960px;
        height: 60px;
        border: 1px solid #ebebeb;
        overflow: hidden;
        resize: none;
        color: #828282;
        line-height: 20px;
        outline: none;
        font-family: "Microsoft YaHei"; }
        .datasrt-preview-page .all-comments-content .comments-cover .edit-reply textarea.reply-text::-webkit-input-placeholder {
          font-family: "Microsoft YaHei";
          color: #aaaaaa; }
        .datasrt-preview-page .all-comments-content .comments-cover .edit-reply textarea.reply-text:-moz-placeholder {
          font-family: "Microsoft YaHei";
          color: #aaaaaa; }
        .datasrt-preview-page .all-comments-content .comments-cover .edit-reply textarea.reply-text::-moz-placeholder {
          font-family: "Microsoft YaHei";
          color: #aaaaaa; }
        .datasrt-preview-page .all-comments-content .comments-cover .edit-reply textarea.reply-text:-ms-input-placeholder {
          font-family: "Microsoft YaHei";
          color: #aaaaaa; }
      .datasrt-preview-page .all-comments-content .comments-cover .edit-reply .replay-content {
        text-align: right;
        padding: 10px 0; }
        .datasrt-preview-page .all-comments-content .comments-cover .edit-reply .replay-content span {
          font-size: 12px;
          color: #adadb2; }
        .datasrt-preview-page .all-comments-content .comments-cover .edit-reply .replay-content em {
          font-weight: bold;
          font-style: normal;
          padding: 0 5px; }
      .datasrt-preview-page .all-comments-content .comments-cover .edit-reply .reply-btn {
        min-width: 70px;
        height: 24px;
        line-height: 24px;
        margin-left: 15px;
        padding: 0 10px;
        font-size: 12px;
        color: #fff;
        display: inline-block;
        text-align: center;
        background: #57a3f1;
        cursor: pointer; }
        .datasrt-preview-page .all-comments-content .comments-cover .edit-reply .reply-btn:hover {
          background: #4491e1; }

/*数据预览及评论 end*/
/*上传竞赛结果 start*/
.upload-competition-result .control-title-margin {
  margin: 58px 0 25px 0; }
  .upload-competition-result .control-title-margin > h3 {
    margin-left: 0;
    color: #444; }
    .upload-competition-result .control-title-margin > h3:before {
      content: '';
      border: none; }

.upload-competition-result .operation {
  text-decoration: none; }

.upload-competition-result .save-file-content {
  margin-bottom: 0; }

.upload-competition-result #fileSpan {
  height: 155px; }

.upload-competition-result .markdown-common .editor-content .marked {
  height: 178px; }
  .upload-competition-result .markdown-common .editor-content .marked .write-content {
    height: 178px; }

.upload-competition-result .editor_text {
  height: 144px !important; }

.upload-competition-result .wangEditor-container {
  border: 1px solid #ddd;
  height: 178px; }
  .upload-competition-result .wangEditor-container .wangEditor-txt {
    margin-top: 0; }

.upload-competition-result .upload-title-content h3 {
  font-size: 16px;
  margin: 0 0 24px 0;
  line-height: 1; }

.upload-competition-result .upload-title-content .title-text {
  width: 50%;
  height: 36px;
  line-height: 36px;
  outline: none;
  border: 1px solid #dddddd;
  background: #fff;
  padding-left: 10px; }

.upload-competition-result .prompting-text {
  height: 62px;
  line-height: 62px;
  background: #f5f5f5;
  border: 1px solid #ebebeb;
  margin: 5px 0 25px 0;
  padding-left: 30px;
  color: #666666; }
  .upload-competition-result .prompting-text > span {
    color: #e93f3f; }
  .upload-competition-result .prompting-text > i {
    float: right;
    line-height: 62px;
    margin-right: 15px;
    cursor: pointer;
    color: #585858; }

/*上传竞赛结果 end*/
.search-competition-result > h3 {
  font-size: 24px;
  color: #5b5266;
  margin-bottom: 40px; }

.search-competition-result .prompting {
  border: 1px solid #ebebeb;
  margin-bottom: 20px; }

.search-competition-result > p {
  height: 58px;
  line-height: 58px;
  padding-left: 27px;
  background: #f5f5f5;
  color: #e70000; }
  .search-competition-result > p > i {
    color: #444444;
    font-size: 12px;
    float: right;
    line-height: 58px;
    margin-right: 15px;
    cursor: pointer; }

.search-competition-result .bk-table {
  border: 1px solid #ebebeb; }
  .search-competition-result .bk-table .search-rencent-del {
    cursor: pointer; }
    .search-competition-result .bk-table .search-rencent-del > i {
      color: #444444;
      padding-right: 7px;
      vertical-align: middle;
      font-size: 14px; }
    .search-competition-result .bk-table .search-rencent-del > span {
      color: #444444;
      vertical-align: middle; }
  .search-competition-result .bk-table > tbody {
    background: #fff; }
    .search-competition-result .bk-table > tbody > tr > td {
      color: #8b8b8b; }
    .search-competition-result .bk-table > tbody > tr .del-content {
      position: relative; }
      .search-competition-result .bk-table > tbody > tr .del-content .popover-del {
        display: none;
        position: absolute;
        top: 37px;
        right: 82px;
        width: 220px;
        height: 95px;
        text-align: center;
        border: 1px solid #ebebeb;
        background: #fff;
        z-index: 1000;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        padding: 20px 0;
        font-size: 12px;
        color: #666666; }
        .search-competition-result .bk-table > tbody > tr .del-content .popover-del:before {
          content: '';
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-bottom-color: #ebebeb;
          top: -10px;
          left: 131px;
          position: absolute; }
        .search-competition-result .bk-table > tbody > tr .del-content .popover-del:after {
          content: '';
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-bottom-color: #fff;
          top: -9px;
          left: 131px;
          position: absolute; }
        .search-competition-result .bk-table > tbody > tr .del-content .popover-del a {
          min-width: 77px;
          padding: 0 20px;
          line-height: 27px;
          line-height: 27px;
          cursor: pointer;
          display: inline-block;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          -o-border-radius: 2px;
          border-radius: 2px;
          margin-top: 12px; }
        .search-competition-result .bk-table > tbody > tr .del-content .popover-del a.cancel-btn {
          border: 1px solid #eaeaea;
          margin-right: 12px;
          color: #666; }
        .search-competition-result .bk-table > tbody > tr .del-content .popover-del a.del-btn {
          color: #fff; }
    .search-competition-result .bk-table > tbody > tr .file-name img {
      padding-right: 17px; }
  .search-competition-result .bk-table > thead > tr > th {
    color: #666;
    font-size: 14px;
    font-weight: bold; }

.search-competition-result .all-del-btn-content {
  text-align: center;
  margin-top: 60px; }
  .search-competition-result .all-del-btn-content a {
    min-width: 140px;
    padding: 0 20px;
    line-height: 42px;
    height: 42px;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    display: inline-block; }
  .search-competition-result .all-del-btn-content .all-del-btn {
    margin-right: 20px;
    color: #fff;
    display: inline-block; }
  .search-competition-result .all-del-btn-content .conme-on-btn {
    border: 1px solid #ebebeb;
    color: #666; }
    .search-competition-result .all-del-btn-content .conme-on-btn.disabled {
      color: #e6e6e6;
      border-color: #e5e5e5; }
      .search-competition-result .all-del-btn-content .conme-on-btn.disabled:hover {
        color: #e6e6e6;
        border-color: #e5e5e5;
        background: #fff;
        cursor: default; }

/*查看竞赛结果 start*/
/*查看竞赛结果 end*/
/*查看上传结果 全部删除弹窗 start*/
.all-del-pop-content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(42, 35, 49, 0.6);
  top: 0;
  left: 0; }
  .all-del-pop-content .all-del-wrapper {
    padding-top: 40px;
    text-align: center;
    width: 401px;
    height: 185px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: relative; }
    .all-del-pop-content .all-del-wrapper .icon-close {
      font-size: 12px;
      color: #5b5b5b;
      position: absolute;
      top: 0;
      right: 0;
      margin: 12px 12px 0 0;
      text-decoration: none;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      transition: all .5s; }
      .all-del-pop-content .all-del-wrapper .icon-close:hover {
        font-size: 14px;
        cursor: pointer; }
    .all-del-pop-content .all-del-wrapper P {
      text-align: center;
      font-size: 22px;
      color: #333; }
    .all-del-pop-content .all-del-wrapper a {
      min-width: 125px;
      margin-top: 48px;
      height: 36px;
      line-height: 36px;
      display: inline-block;
      padding: 0 20px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
    .all-del-pop-content .all-del-wrapper .del-btn {
      color: #fff;
      cursor: pointer;
      margin-left: 20px; }

/*查看上传结果 全部删除弹窗 end*/
/*动画 start*/
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

.padding-content-control {
  padding: 60px 0 110px 0; }
